# NodeJS
node_modules/
.env
dist/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# IntelliJ
.idea/

# Logs
*.log

# --- Flutter (monorepo/nested) ---
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/build/

# iOS (nested)
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Podfile.lock
**/*.xcframework/

# Android (nested)
**/android/.gradle/
**/android/app/build/
**/android/local.properties

# Node (nested)
**/node_modules/